@import url('../../webjars/bootstrap/3.3.2-1/css/bootstrap.min.css');
@import url('../../webjars/font-awesome/4.3.0/css/font-awesome.min.css');

/* apply font smoothing everywhere */
body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* correct spacing within alerts */
.alert > * + * {
    margin-left: 0.3em;
}

/*
form-group checkboxes
*/
.form-group > input[type="checkbox"].form-control {
    float: left;
    margin-right: 0.3em;
    height: initial;
    width: initial;
}

/* default loading wrapper styling */
.loading-indicator-container {
    position: relative;
}

.loading-indicator-container .loading-indicator-backdrop {
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading-indicator-container .loading-indicator {
    position: absolute;
    z-index: 1001;
    top: 35%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    text-align: center;
}

/*
 Anything that comes after a glyphicon should have some space
*/
.fa + * {
    margin-left: 0.4em;
}

/* inverse navbars should have white text in the buttons */
.navbar-inverse button.navbar-toggle {
    color: white;
}

/**
Modals display always. We use transition groups to manage whether they're visible,
so they're removed from the DOM when they're not
*/
.modal {
    display: block;
    overflow-y: auto;
    opacity: 1;
}

.Modal-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1040;
}

/* dropdown menus display always, using transition groups to manage whether they're visible */
.dropdown-menu {
    display: block;
}

/*
 select control styling
*/
/* the container returned by the fancy select */
.fancy-select-container {
    position: relative;
}

/* where the typing in the select goes */
.fancy-select-type-area {
    outline: 0;
    border: 0;
}

/* container for the search results */
.fancy-select-search-results {
    width: 100%;
    position: absolute;
    overflow-y: auto;
    max-height: 20em;
    background-color: white;
    z-index: 10;
    border-radius: 0 0 0.5em 0.5em;
    border: 1px solid slategray;
    border-top-width: 0;
    display: none;
}

.fancy-select-search-results.fancy-select-search-results-open {
    display: block;
}

.fancy-select-search-focus-on-select {
    width: 0;
    position: absolute;
    height: 0;
    opacity: 0;
}

/* a container for a single result in a select dropdown */
.fancy-select-search-result {
    padding: 0.4em;
    cursor: pointer;
}

/* a hilited result */
.fancy-select-search-result.hilited {
    background-color: #5897fb;
    color: white;
}

/* this class wraps each of the selected options in a single select */
.fancy-select-single-choice {
    display: inline-block;
}

/* this class wraps each of the selected options in a multiple select */
.fancy-select-multiple-choice {
    display: inline-block;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    margin: 0.18em;
    background-color: aliceblue;
}

/* this is the element that wraps the typing area and the selected options */
.fancy-select-fake-input {
    height: auto !important;
    cursor: pointer;
    overflow-x: hidden;
}

.fancy-select-fake-input.dropup {
    cursor: default;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.fancy-select-fake-input .caret {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 8px;
}

/* GENERAL CSS TRANSITIONS FOR USE ANYWHERE */
/* largely taken from Daniel Eden's animate.css */
/* https://daneden.github.io/animate.css */
/* general fade in and fade out, lasts 0.5s */
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 0.5s ease-out;
    opacity: 1;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    transition: opacity 0.5s ease-out;
    opacity: 0;
}

/* fade in/out by sliding down and up respectively named fade-in-down */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fade-in-down-enter {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

.fade-in-down-enter.fade-in-down-enter-active {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fade-in-down-leave {
    opacity: 1;
}

.fade-in-down-leave.fade-in-down-leave-active {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

/* a much smaller version of the above for full screen elements*/
@-webkit-keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1%, 0);
        transform: translate3d(0, -1%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDownSmall {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1%, 0);
        transform: translate3d(0, -1%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutUpSmall {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1%, 0);
        transform: translate3d(0, -1%, 0);
    }
}

@keyframes fadeOutUpSmall {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1%, 0);
        transform: translate3d(0, -1%, 0);
    }
}

.fade-in-down-small-enter {
    opacity: 0;
    -webkit-transform: translate3d(0, -1%, 0);
    transform: translate3d(0, -1%, 0);
}

.fade-in-down-small-enter.fade-in-down-small-enter-active {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDownSmall;
    animation-name: fadeInDownSmall;
}

.fade-in-down-small-leave {
    opacity: 1;
}

.fade-in-down-small-leave.fade-in-down-small-leave-active {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutUpSmall;
    animation-name: fadeOutUpSmall;
}

/* flip in and out on the x axis, named flip-in-x */
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@-webkit-keyframes flipOutX {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

@keyframes flipOutX {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        opacity: 1;
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.flip-in-x-enter {
    opacity: 0;
}

.flip-in-x-enter.flip-in-x-enter-active {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    opacity: 1;
}

.flip-in-x-leave {
    opacity: 1;
}

.flip-in-x-leave.flip-in-x-leave-active {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: flipOutX;
    animation-name: flipOutX;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    opacity: 0;
}
