@import url('../../webjars/bootstrap/3.3.2-1/css/bootstrap.min.css');
@import url('../../webjars/bootstrap/3.3.2-1/css/bootstrap-theme.min.css');

.navbar.navbar-inverse .navbar-toggle {
    color: ivory;
}

/* apply font smoothing everywhere */
body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}